.wrapper {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.imgWrapper {
  margin: auto;
}

.description {
  color: white;
  background-color: #10100f;
  padding: 1rem 2rem;
}

.details {
  font-size: 1.3rem;
  margin: 3rem 1rem;
}

.details span {
  font-weight: 800;
  color: rgb(255, 187, 0);
}

/* .image {
  width: 100%;
} */

@media only screen and (max-width: 850px) {
  .wrapper {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }
}
