.wrapper {
  display: flex;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 2px 2px 4px #d2c5c5;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.imgWrapper {
  margin: auto;
}

.image {
}

.description {
  background-color: #ecf4fa;
  padding: 1rem 2rem;
}

.details {
  font-size: 1.3rem;
  margin: 3rem 1rem;
}

.details span {
  font-weight: 800;
}

.longDescription {
}
