.cardNumber{
    font-size: 3rem;
    margin: 1rem;
    min-width: 3rem;
}

.wrapper{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin: 1rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 2px 2px 4px #d2c5c5;
}




.description {
 padding: 1.5rem;
}


.description span{
    display: block;
}

.description h3{
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 2px;
}