.cardNumber {
  font-size: 3rem;
  margin: 1rem;
  min-width: 3rem;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
  margin: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px #000000;
  color: #0e0e0e;
  position: relative;
}

.wrapper::after {
  content: "";
  position: absolute;
  background-color: rgb(255, 187, 0);
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  border-radius: 5px;
}

.description {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
}

.description span {
  display: block;
}

.description h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2px;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    width: auto;
  }

  .image {
    margin-top: 1rem;
  }
}
