.wrapper {
  display: flex;
  justify-content: center;
}

.item {
  margin: 0.7rem;
}

.label {
  margin-right: 0.5rem;
  color: white;
}

.option {
}

.select {
  min-width: 140px;
  padding: 0.1rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

@media only screen and (max-width: 850px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 30%;
  }

  .label {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}
