.searchBar {
  /* background-color: rgb(245, 245, 245); */
  background-color: #0e0e0e;
  text-align: center;
}

.searchText {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 0;
  font-weight: 700;
  color: white;
}

.fragrances {
  max-width: 800px;
  margin: 0 auto;
}
